<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
  
  <div class="login-box card border border-warning text-center">
    <div class="card-body">
      <form class="form-horizontal form-material" id="loginform">
        <h3 class="box-title m-b-20 text-center">Inicio de Sesión</h3>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" required="" name="username" placeholder="Usuario" [(ngModel)]="username">
            </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="password" required="" name="password" placeholder="Contraseña"  [(ngModel)]="password"> </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12 font-14">
            <div class="checkbox checkbox-primary pull-left p-t-0">
              <input id="checkbox-signup" type="checkbox">
              <label for="checkbox-signup">&nbsp; Recordar credenciales </label>
            </div> 
           </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <a style="color:white;" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"  (click)="onLoggedin()">Iniciar Sesión</a>
          </div>
        </div>
        <a href="javascript:void(0)" id="to-recover" class="text-dark"><i class="fa fa-lock m-r-5"></i> Olvidaste tu contraseña?</a>
      </form>
      <form class="form-horizontal" id="recoverform" action="index.html">
        <div class="form-group ">
          <div class="col-xs-12">
            <h3>Recuperar contraseña</h3>
            <p class="text-muted">Ingresa su correo electrónico y las instrucciones serán enviadas!</p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Email"> </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <a class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" [routerLink]="['/login']">Reiniciar</a>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
</div>
</div>
